
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(100,156,156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 31%;
    
}
input{
    border: none;
    background-color: rgb(229,226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;


}
input:focus{
outline-color: deepskyblue;
}

.login{
    width: 30%;
    height: 3em;
    background-color: rgb(32,177,155);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login:hover{transform: scale(1.25);}
.container {
    background-color: #f44336; /* Set the background color */
    padding: 20px; /* Add padding to the container */
  }
  
  .signup-heading {
    font-weight: bold; /* Make the heading bold */
    color: red; /* Set the text color */
    margin-bottom: 20px; /* Add margin at the bottom */
  }
  
  .form-wrapper {
    background-color: white; /* Set the background color of the form wrapper */
    padding: 20px; /* Add padding to the form wrapper */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add margin at the bottom of each form group */
  }
  
  .form-label {
    display: block; /* Make the labels block elements */
    margin-bottom: 5px; /* Add margin at the bottom of each label */
    font-weight: bold; /* Make the labels bold */
  }
  
  .form-control {
    width: 50%; /* Set the width of the form controls to 100% */
    padding: 10px; /* Add padding to the form controls */
    border: 1px solid #ccc; /* Add a border to the form controls */
    border-radius: 4px; /* Add border radius to the form controls */
  }
  
  .btn {
    padding: 10px 20px; /* Add padding to the buttons */
    border-radius: 4px; /* Add border radius to the buttons */
    color: white; /* Set the text color of the buttons */
  }
  
  .btn-success {
    background-color: #4caf50; /* Set the background color of the success button */
  }
  
  .btn-danger {
    background-color: #f44336; /* Set the background color of the danger button */
  }
  