.widget-container {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .widgett-card {
    padding: 4px 8px;
    font-size: 12px;
    width: 10px;
  }