.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .tableContainer {
    margin: 20px;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
  }
  

  .name{
    font-weight:bold;
  }
  .heading{
    font-size:larger;
  }
  .image-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .card {
    width: 300px; // Adjust the size as needed
    height: 400px; // Adjust the size as needed
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  
  .image-thumbnail {
    width: 100%;
    height: 200px; // Adjust the size as needed
    object-fit: cover;
  }
    